﻿
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>
        @ViewBag.Title
    </title>
    <meta charset="utf-8" />
    <link rel="canonical" href="https://www.utaxi.in/" />
    <meta http-equiv='cache-control' content='max-age=2592000'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="google-site-verification" content="YjMSxJcF19Pz3R99oOVICxufyYFuH8zXhRt97-bkKnY" />
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Airport Taxi | Cabs in Bangalore | Cheapest OutStation Cab in Bnaglore">
    <meta property="og:description" content="Airport Taxi in Bangalore - Rs 474/- Pick-Up, Rs 674/- Drop, Cheapest OutStation taxi rates.Indica Rs.7/-Logan/Etios/Dzire Rs.9">
    <meta property="og:url" content="https://utaxi.in">
    <meta property="og:image" content="/Images/utaxi-og-logo.webp">
    <meta property="business:contact_data:street_address" content="No. 28, 7th Main, ">
    <meta property="business:contact_data:locality" content="N.S. Palya, Near Cafe Coffee Day, BTM layout 2nd Stage, ">
    <meta property="business:contact_data:region" content="Bengaluru, Karnataka ">
    <meta property="business:contact_data:postal_code" content="560076">
    <meta property="business:contact_data:country_name" content="India">
    <meta property="business:contact_data:email" content="utaxiindia@gmail.com">
    <meta property="business:contact_data:phone_number" content="080 4684 4684">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@ViewBag.tw_title">
    <meta name="twitter:description" content="@ViewBag.tw_description">
    <meta name="twitter:image" content="/Images/utaxi-twitter-tag-logo.webp">
    <meta name="twitter:site" content="https://twitter.com/Utaxi3">

    <link rel="icon" type="image/png" href="/Images/Utaxi-Semi-Logo.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/site.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/jqueryUI")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @*@Scripts.Render("~/bundles/popper")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootbox")

    @Scripts.Render("~/bundles/jBox")
    @Styles.Render("~/Content/jBox")
    <script src="~/Scripts/Home/Airport_Transfer_Packages.js"></script>
    <style type="text/css">
          .ajax-loader {
              visibility: hidden;
              background-color: rgba(255,255,255,0.7);
              position: absolute;
              z-index: +100 !important;
              width: 100%;
              height: 100%;
          }

              .ajax-loader img {
                  position: relative;
                  top: 50%;
                  left: 50%;
              }

          .marginleft3px {
              margin-left: 3px;
          }

          #divloadMap {
              height: 100%;
              margin: 0px;
              padding: 0px;
              margin-top: 15px;
          }

          /*.apply {
          margin-top: 16px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }*/

          #txtsearch {
              background-color: #fff;
              padding: 0 11px 0 13px;
              width: 400px;
              font-family: Roboto;
              font-size: 15px;
              font-weight: 300;
              text-overflow: ellipsis;
          }

              #txtsearch:focus {
                  border-color: #4d90fe;
                  margin-left: -1px;
                  padding-left: 14px;
                  width: 401px;
              }

          .pac-container {
              font-family: Roboto;
          }

          #type-selector {
              color: #fff;
              background-color: #4d90fe;
              padding: 5px 11px 0px 11px;
          }

              #type-selector label {
                  font-family: Roboto;
                  font-size: 13px;
                  font-weight: 300;
              }

          .searchplaces {
              background-color: #eaeaea;
          }
    </style>

    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
    </style>

    @RenderSection("scripts", required: false)
    <style>
        body {
            font-family: Calibri;
        }

        .navlink {
            color: white !important;
            font-size: 16px;
            font-weight: bold;
        }

        .carousel-item img {
            width: 100% !important;
        }

        .card-header a img {
            width: 100% !important;
        }

        @@media screen and (max-width : 480px) {
            #twitterLinkContainer, #facebookLinkContainer, #phonenumberContainer {
                display: none;
            }
        }

        @@media screen and (min-width : 480px) {
            #twitterLinkContainer, #facebookLinkContainer {
                margin: 10px;
            }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134213901-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134213901-1');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K5N2WF2');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5N2WF2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "LocalBusiness",
          "name": "Utaxi",
          "image": "https://utaxi.in/Images/utaxi-title-logo.webp",
          "telephone": "08046844684",
          "email": "utaxiindia@gmail.com",
          "address": {
            "@@type": "PostalAddress",
            "streetAddress": "#26, 6th main",
            "addressLocality": "18th Cross Rd, NS Palya, Stage 2, Bengaluru",
            "addressRegion": "Karnataka",
            "postalCode": "560076"
          },
          "openingHoursSpecification": [
          {
            "@@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "00:00",
            "closes": "00:00"
          },
          {
            "@@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Saturday",
              "Sunday"
            ],
            "opens": "00:00",
            "closes": "00:00"
          }
        ],
          "url": "https://www.utaxi.in/"
        }
    </script>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">

                <a class="navbar-brand" href="https://www.utaxi.in/">
                    <img src="~/Images/utaxi-title-logo.webp" alt="taxi in bangalore" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link navlink" href="https://www.utaxi.in/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navlink" href="../Home/Packages">Holiday packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navlink" href="https://www.utaxi.in/bangalore/outstation-taxi/bangalore-outstation-cabs.aspx">Outstation Tariffs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navlink" href="https://www.utaxi.in/bangalore/airport-taxi/bangalore-airport-taxi-offers.aspx">Airport Taxi Offers</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link navlink" href="https://blog.utaxi.in/">Blog</a>
                        </li>


                    </ul>
                </div>
                <div id="facebookLinkContainer">
                    <a href="https://www.facebook.com/utaxi123">
                        <img src="/Images/utaxi-facebook-icon.webp" alt="Airport Taxi | Cabs in Bangalore | Rs 325 Pickup |Rs525 Drop" />
                    </a>
                </div>
                <div id="twitterLinkContainer">
                    <a href="https://twitter.com/Utaxi3">
                        <img src="/Images/utaxi-twitter-icon.webp" alt="Airport Taxi | Cabs in Bangalore | Rs 325 Pickup |Rs525 Drop" />
                    </a>
                </div>
                <div id="phonenumberContainer" class="boldFields" style="font-size: 17px; color: white;">
                    <a href="tel:080 4684 4684" style="color:#fff;">Call 08046844684</a>
                </div>
            </div>
        </nav>

    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header boldFields">24/7 Services</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/BanashankaritoAirporttransfer/AirportDrop">Banashankari To Airport</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/banaswaditoAirporttransfer/AirportDrop">Banaswadi To Airport</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/BTMLayouttoAirporttransfer/AirportDrop">BTM Layout To Airport</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/frazertowntoAirporttransfer/AirportDrop">Frazer Town To Airport</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/JalahallitoAirporttransfer/AirportDrop">Jalahalli To Airport</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/JPNagartoAirporttransfer/AirportDrop">JP Nagar To Airport</a>
                                    </h6>
                                </li>

                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/JayanagartoAirporttransfer/AirportDrop">Jayanagar To Airport</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/KrishnarajapuramtoAirporttransfer/AirportDrop">Krishnarajapuram To Airport</a>
                                    </h6>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header boldFields">24/7 Services</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/MalleswaramtoAirporttransfer/AirportDrop">Malleswaram To Airport</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/MarathahallitoAirporttransfer/AirportDrop">Marathahalli To Airport</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/MGRoadtoAirporttransfer/AirportDrop">MG Road To Airport</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/PeenyatoAirporttransfer/AirportDrop">Peenya To Airport</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/RajajinagartoAirporttransfer/AirportDrop">Rajaji Nagar To Airport</a>
                                    </h6>
                                </li>

                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/VijayaNagartoAirporttransfer/AirportDrop">Vijaya Nagar To Airport</a>

                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/WhitefieldtoAirporttransfer/AirportDrop">Whitefield To Airport</a>
                                    </h6>
                                </li>


                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/YelahankatoAirporttransfer/AirportDrop">Yelahanka To Airport</a>
                                    </h6>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header boldFields">24/7 Services</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/BanashankaritoAirporttransfer/AirportPickup">Airport To Banashankari </a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/banaswaditoAirporttransfer/AirportPickup">Airport To Banaswadi</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/BTMLayouttoAirporttransfer/AirportPickup">Airport To BTM Layout</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/frazertowntoAirporttransfer/AirportPickup">Airport To Frazer Town</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6><a href="/cheapesttaxiinbangalore/JalahallitoAirporttransfer/AirportPickup">Airport To Jalahalli</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/JPNagartoAirporttransfer/AirportPickup">Airport To JP Nagar</a>
                                    </h6>
                                </li>

                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/JayanagartoAirporttransfer/AirportPickup">Airport To Jayanagar</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/KrishnarajapuramtoAirporttransfer/AirportPickup">Airport To Krishnarajapuram</a>
                                    </h6>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header boldFields">24/7 Services</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/MalleswaramtoAirporttransfer/AirportPickup">Airport To Malleswaram</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/MarathahallitoAirporttransfer/AirportPickup">Airport To Marathahalli</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/MGRoadtoAirporttransfer/AirportPickup">Airport To MG Road</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/PeenyatoAirporttransfer/AirportPickup">Airport To Peenya</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/RajajinagartoAirporttransfer/AirportPickup">Airport To Rajaji Nagar</a>
                                    </h6>
                                </li>

                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/VijayaNagartoAirporttransfer/AirportPickup">Airport To Vijaya Nagar</a>

                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/WhitefieldtoAirporttransfer/AirportPickup">Airport To Whitefield</a>
                                    </h6>
                                </li>


                                <li class="list-group-item">
                                    <h6>
                                        <a href="/cheapesttaxiinbangalore/YelahankatoAirporttransfer/AirportPickup">Airport To Yelahanka</a>
                                    </h6>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fullWidth" style="background-color: #000;">


            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="padding: 20px;color:#fff;">

                        <ul class="w3ls-footer-bottom-list" style="color:#fff; list-style: none;">
                            <li style="font-size: 20px;font-weight: bold;">GET IN TOUCH</li>
                            <li><a href="/About.html" style="color: #ffffff;">About Utaxi</a></li>
                            <li><a href="/Services.html" style="color: #ffffff;">Services</a></li>
                            <li> <a href="/contactus.html" style="color: #ffffff;">Contact Us </a></li>
                            <li> <a href="/sitemap.html" style="color: #ffffff;">HTML Sitemap </a></li>
                        </ul>
                    </div>

                    <div class="col-md-4" style="padding: 20px;color: #fff;">


                        <ul class="w3ls-footer-bottom-list" style="color:#fff;list-style: none;">
                            <li style="font-size: 20px;font-weight: bold;">OUR LOCATION</li>
                            <li> <i class="fa fa-map-marker" aria-hidden="true"></i> #26 6th main, 18th Cross Rd, NS Palya, Stage 2, Bengaluru, Karnataka 560076 </li>
                            <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>  <a href="mailto:info@utaxi.in" style="color: #ffffff;"> info@utaxi.in</a> </li>
                            <li> <i class="fa fa-phone" aria-hidden="true"></i>  <a href="tel:080 4684 4684" style="color: #ffffff;">Call 080 4684 4684</a>     </li>
                            <li> <i class="fa fa-globe" aria-hidden="true"></i>  <a href="https://www.utaxi.in" style="color: #ffffff;">www.utaxi.in</a> </li>
                            <li> <i class="fa fa-clock-o" aria-hidden="true"></i>  Office Time  : 24/7</li>
                        </ul>
                    </div>
                    <div class="col-md-4" style="padding: 20px;color: #fff;">


                        <ul class="w3ls-footer-bottom-list" style="list-style: none;color: #fff;">
                            <li style="font-size: 20px;font-weight: bold;">OUR SERVICES</li>
                            <li> <a href="/Home/Index" style="color: #ffffff;">Airport Transfer </a></li>
                            <li> <a href="/Home/Index" style="color: #ffffff;">Local Drop</a></li>
                            <li><a href="/Home/Index" style="color: #ffffff;">Airport Pickup</a></li>
                            <li><a href="/Home/Index" style="color: #ffffff;">Local Package Outstation</a></li>
                            <li><a href="/Home/Index" style="color: #ffffff;">Holiday Package</a></li>
                        </ul>


                    </div>

                </div>

            </div>


            <div class="col-md-12" style="text-align: center;
    color: #0a0a0a;
    background-color: #ffa500;
    padding: 10px;
    font-weight: bold;">
                <p>© 2023 Utaxi. All Rights Reserved Powered by Utaxi.in </p>
            </div>


        </div>
    </footer>
    <!-- Call Icon Start -->
    <style>
        @@media only screen and (max-width: 499px) {

            #mybutton {
                position: fixed;
                bottom: 15px;
                right: 10px;
            }
        }

        #mybutton {
            position: fixed;
            bottom: 5px;
            right: 10px;
        }
    </style>
    <div id="mybutton">
        <a href="tel:080 4684 4684"><img src="/Images/utaxi-calling-icon.webp" alt="Best Airport Taxi service in Bangalore, best affordable outstation taxi service in bangalore, Best taxi service in btm , best airport taxi, deepamtaxi" /></a>
    </div>
    <!-- Call Icon End -->
</body>
</html>
